.container {
    background: url('https://media.freestocktextures.com/cache/e7/08/e7088a331265694332bf9924db8a509a.jpg');
    background-size: cover;    
  }



.container-fluid  ul {
    list-style: none;
    float: right;
    text-align: center; 
    
}

.container-fluid li {
    float: right;
    margin-right: .25em;
    height: 3em;
    line-height: 3em;
}

.panel-heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: center;
}

.panel-body img{
    width: 100%
}